*{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: arial;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100vh;
    gap: 5px;
}
header{
    padding: 20px;
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: #ff9b6d;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}
.logo{
    grid-column: 1/2;
    background-color: #ffd37c;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    grid-column: 2/7;
    background-color: #ffd37c;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
}
aside{
    grid-column: 1/2;
    grid-row: 2/7;
    background-color: #ceea41;
    display: grid;
    padding: 20px;
    gap: 20px;
}
.new{
    background-color: #a9ba4f;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: flex-start;
}

main {
    grid-column: 2/6;
    grid-row: 2/6;
    background-color: #7dbca9;
    display: grid;
    padding: 30px;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
.box{
    background-color: #8de1ca;
    padding: 10px;
}
footer{
    grid-column: 2/6;
    grid-row: 6/7;
    background-color: #87ceeb;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}
.logo2{
    grid-column: 4/5;
    background-color: #8a9dc7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy{
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    grid-column: 1/4;
    background-color: #8a9dc7;
}